
<link rel='stylesheet' href='/css/signin.css'>


    <div>
                <h1> SignIn </h1>
                    <div id='signin'>
                        <form action='/createSession' method='POST'>
                            <input type="text" name='email' placeholder="Email" required><br><br>
                            <input type="password" name='password' placeholder="password" required><br><br>
                            <button type='submit'>Submit</button>
                        </form>
                    </div>
                    <div style="background-color: #42434a;">
                        <a href='/users/forgotpage' target="_blank"> forgot password? </a>
                    </div>
                   
                   <br>
                <div style="background-color: #42434a;">
                    <a href='/users/auth/google' target="_blank"> Signup by google <i class="fa fa-google"></i></a>
                </div>

                <div style="background-color: #42434a;">
                   <h5> <a href='/signup'>click here to signUp</a></h5>
                </div>
            
            <br>
  </div>

  